<div class="fixed">
<div id="blob" class="circle"></div>
<div class="blur"></div>
</div>
<div class="container">
  <!-- header design -->
  <header class="header">
    <a href="#" class="logo">Onnuri College & Young Adults Life Group</a>

    <div class='bx bx-menu' id="menu-icon"></div>

    <nav class="navbar">
      <a href="#home" class="active">Home</a>
      <a href="#about">About</a>
      <a href="#services">Services</a>
      <a href="#leaders">Leaders</a>
      <a href="#contact">Contact</a>
    </nav>
  </header>

  <!-- home section design -->
  <section class="home" id="home">
    <div class="home-content">

      <div class="big">Welcome to</div>
      <div class="bigger">C3</div>
      <h1>
        <span class="auto-type"></span>
      </h1>

      <p> <span data-value="CREATED" class="">CREATED</span> in His image.<br><span data-value="CHRIST" class="">CHRIST</span> centered lives.<br><span data-value="COMMISSIONED" class="">COMMISSIONED</span> to go make disciples of all nations</p>

      <div class="social-media">
        <a href="#" (click)="commingSoon()"><i class='bx bxl-facebook'></i></a>
        <a href="#" (click)="commingSoon()"><i class='bx bxl-twitter'></i></a>
        <a href="https://instagram.com/c3oem?igshid=OGQ5ZDc2ODk2ZA==" target="blank"><i class='bx bxl-instagram-alt'></i></a>
        <a href="#" (click)="commingSoon()"><i class='bx bxl-linkedin'></i></a>
      </div>
      <a href="#contact" class="btn">Contact Us</a>
    </div>

    <div class="home-img glow">
      <img src="../../../assets/img/img1.jpeg" alt="">
    </div>
  </section>

  <!-- about section design -->
  <section class="about hidden" id="about">
    <div class="about-img">
      <img src="../../../assets/img/img2.jpeg" alt="">
    </div>

    <div class="about-content">
      <h2 class="heading">About <span>C3</span></h2>
      <h3>Who We Are!</h3>
      <p>C3 is the college and young adult group dedicated to
        educating, equipping, and training godly leaders to go out into the world as Jesus’ disciples.
      </p><p id="aboutP2" class="none">
        Our vision is to see this generation of college students & young adults transformed
        by the power of the gospel and to build up a close-knit community of believers
        ​that will grow and mature in faith.</p>
        <a  data-value="f" id="ap2but" class="btn" (click)="aboutP2()">Read More</a>
      </div>
    </section>

    <!-- services section design -->
    <section class="services" id="services">
      <h2 class="heading">What We Do <span>Together</span></h2>

      <div class="services-container blured">
        <div class="services-box">
          <i class="fa-solid fa-book-open-reader"></i>
          <h3>Fellowship</h3>
          <p>In person & Online</p>
          <div>
            <img src="../../../assets/img/img3.jpeg" alt="">
            <img src="../../../assets/img/img4.jpeg" alt="">
            <img src="../../../assets/img/img5.jpeg" alt="">
          </div>
          <!--<a href="#" class="btn">More</a>-->
        </div>

        <div class="services-box blured">
          <i class='fa-solid fa-book'></i>
          <h3>Weekly Bible Studies</h3>
          <p>Sundays from 5:30pm - 7pm</p>
          <div>
            <img src="../../../assets/img/img6.jpeg" alt="">
            <img src="../../../assets/img/img7.jpeg" alt="">
            <img src="../../../assets/img/img8.png" alt="">
          </div>
          <!--<a href="#" class="btn">Read More</a>-->
        </div>

        <div class="services-box blured">
          <i class="fa-solid fa-handshake-angle"></i>
          <h3>Serve</h3>
          <div>
            <img src="../../../assets/img/img9.jpeg" alt="">
            <img src="../../../assets/img/img10.jpeg" alt="">
            <img src="../../../assets/img/img11.jpeg" alt="">
          </div>
          <!--<a href="#" class="btn">See More</a>-->
        </div>
      </div>
    </section>

    <!-- portfolio section design -->
    <section class="portfolio" id="leaders">
      <h2 class="heading">Meet Our <span>Leaders</span></h2>

      <div class="portfolio-container">
        <div class="portfolio-box delay hidden">
          <img src="../../../assets/img/img12.png" alt="">
          <div class="portfolio-layer">
            <h4>Dae Choo</h4>
            <p>C3 Pastor</p><p>
              dae@onnurienglish.org</p>
              <a href="mailto:dae@onnurienglish.org?subject=to%20Pastor%20Dae%20Choo"><i class='bx bx-link-external'></i></a>
            </div>
          </div>

          <div class="portfolio-box delay hidden">
            <img src="../../../assets/img/img13.png" alt="">
            <div class="portfolio-layer">
              <h4>Sean Kwon</h4>
              <p>C3 Mentor</p><p>
                college@onnurienglish.org</p>
                <a href="mailto:college@onnurienglish.org?subject=to%20Mentor%20Sean%20Kwon"><i class='bx bx-link-external'></i></a>
              </div>
            </div>

            <div class="portfolio-box delay hidden">
              <img src="../../../assets/img/img14.png" alt="">
              <div class="portfolio-layer">
                <h4>Vivienne Lee</h4>
                <p>Administrator</p>
                <p>college@onnurienglish.org</p>
                <a href="mailto:college@onnurienglish.org?subject=to%20Vivienne%20Lee"><i class='bx bx-link-external'></i></a>
              </div>
            </div>

            <div class="portfolio-box delay hidden">
              <img src="../../../assets/img/img15.png" alt="">
              <div class="portfolio-layer">
                <h4>Christian Cha</h4>
                <p>Leader</p>
                <p>college@onnurienglish.org</p>
                <a href="mailto:college@onnurienglish.org?subject=to%20Christian%20Cha"><i class='bx bx-link-external'></i></a>
              </div>
            </div>

            <div class="portfolio-box delay hidden">
              <img src="../../../assets/img/img16.png" alt="">
              <div class="portfolio-layer">
                <h4>Raegan Vail Lee</h4>
                <p>Social Media Coordinator</p>
                <p>college@onnurienglish.org</p>
                <a href="mailto:college@onnurienglish.org?subject=to%20Raegan%20Vail%20Lee"><i class='bx bx-link-external'></i></a>
              </div>
            </div>

            <!--<div class="portfolio-box">
              <img src="../../../assets/img/portfolio6.jpg" alt="">
              <div class="portfolio-layer">
                <h4></h4>
                <p></p>
                <p></p>
                <a href="#"><i class='bx bx-link-external'></i></a>
              </div>
            </div> -->
          </div>
        </section>

        <!-- contact section design -->
        <section class="contact" id="contact">
          <h2 class="heading">Contact <span>Us!</span></h2>

          <form id="contactform">
            <div class="input-box">
              <input name="name" id="name" type="text" placeholder="Full Name">
              <input id="email" name="email" type="email" placeholder="Email Address">
            </div>
            <div class="input-box">
              <input id="number" name="number" type="number" placeholder="Mobile Number">
              <input id="subject" name="subject" type="text" placeholder="Email Subject">
            </div>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Your Message"></textarea>
          </form>
          <div class="wrapper">
            <button id="sbtn" (click)="contactUs()" class="btn">Submit</button>
          </div>
        </section>

        <!-- footer design -->
        <footer class="footer">
          <div class="footer-text">
            <p>Service Location: <span>347-11 Ichon-ro Yongsan-gu Seoul</span> <br>
Questions? Contact us at <span>admin@onnurienglish.org
(02)3215-3684</span></p>
            <p>2023 &copy; ONNURI COMMUNITY CHURCH | All Rights Reserved.</p>
          </div>

          <div class="footer-iconTop">
            <a href="#home"><i class='bx bx-up-arrow-alt'></i></a>
          </div>
        </footer>
</div>


<!--<div class="fixed">
<div id="blob" class="circle"></div>
<div class="blur"></div>
</div>
<div class="container">
  <div class="navebar">
    <div class="logo"><a href="#">C3 logo</a></div>
    <ul class="links">
      <li><a data-value="Home" class="transforming"href="#">Home</a></li>
      <li><a data-value="Who We Are" class="transforming"href="#">Who We Are</a></li>
      <li><a data-value="What We Do" class="transforming"href="#">What We Do</a></li>
      <li><a data-value="Meet Our leaders" class="transforming"href="#">Meet Our leaders</a></li>
    </ul>
    <div class="toggleButton"><i class="fa-solid fa-bars"></i></div>
  </div>

  <div class="dropdown absolute">
    <li><a data-value="Home" class="transforming"href="#">Home</a></li>
    <li><a data-value="Who We Are" class="transforming"href="#">Who We Are</a></li>
    <li><a data-value="What We Do" class="transforming"href="#">What We Do</a></li>
    <li><a data-value="Meet Our leaders" class="transforming"href="#">Meet Our leaders</a></li>
  </div>

  <section class="hidden">
    <h1 id="c3-title" class="title" data-value="College & Young Adults Life Group">College & Young Adults Life Group</h1>
    <h2 class="title">C3</h2>
    <p><span class="transforming" data-value="CREATED">CREATED</span> in His image</p>
    <p><span class="transforming" data-value="CHRIST">CHRIST</span> centered lives</p>
    <p><span class="transforming" data-value="COMMISSIONED">COMMISSIONED</span>  to go make disciples of all nations</p>
  </section>

  <section class="hidden">
    <h2>Who we are</h2>
    <p>C3 is the college and young adult group dedicated to
educating, equipping, and training godly leaders to go out into the world as Jesus’ disciples.
    ​</p>
    <p>
      Our vision is to see this generation of college students & young adults transformed
by the power of the gospel and to build up a close-knit community of believers
​that will grow and mature in faith.
    </p>
  </section>

  <section class="hidden">
    <h2>What we do</h2>
    <h3>Fellowship</h3>
    <h3>Weekly Bible Studies</h3>
    <p>Sundays from 5:30pm - 7pm</p>
    <h3>Serve</h3>
  </section>

  <section class="hidden">
    <h2>Meet Our leaders</h2>
  </section>

</div>
-->
